CalendarEvent[zIndex="0"] {

}

CalendarEvent[zIndex="1"] {
    background-color: rgba(0, 255, 255, 0.4);
}

CalendarEvent[zIndex="2"] {
    background-color: rgba(0, 255, 255, 0.2);
}

CalendarEvent[zIndex="3"] {
    background-color: rgba(255, 192, 203, 0.2);
}